@model ImdbReplica.Models.PasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@using (@Html.BeginForm("ChangeUserPassword", "User"))
{
    <p>
        @Html.Label("New password:")
    </p>
    <p>
        @Html.PasswordFor(x => x.NewPassword)
        @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Current password:")
    </p>
    <p>
        @Html.PasswordFor(x => x.OldPassword)
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.ValidationMessage("WrongCredentialsError", new { @class = "ui-state-error-text" })
    </p>
    <div>
        <input type="submit" value="Change password" class="btn btn-success" onclick="return confirm('Are you sure that you want to change your password?')" />
    </div>
}